@font-face {
  font-family: Apercu-Light;
  src: url(Fonts/Apercu-Light.ttf); }
@font-face {
  font-family: ItalianPlateSpace_Bold;
  src: url(Fonts/ItalianPlateSpace_Bold.otf); }
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

a {
  text-decoration: none; }

#main-container {
  position: relative;
  width: 70%;
  height: 90vh;
  border: 2px solid #FF1493; }

nav a {
  position: absolute;
  color: black;
  font-family: ItalianPlateSpace_Bold;
  z-index: 10;
  font-size: 18px;
  transition: 0.5s linear; }
  nav a:nth-child(1) {
    top: 15px;
    left: 15px;
    writing-mode: tb-rl;
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); }
    nav a:nth-child(1):hover {
      top: -23px;
      left: 1px;
      padding: 25px 10px;
      -o-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      transform: rotate(270deg); }
  nav a:nth-child(2) {
    top: 15px;
    left: 50%;
    margin-left: -70px; }
    nav a:nth-child(2):hover {
      box-sizing: border-box;
      top: 0;
      padding: 25px 10px;
      writing-mode: tb-rl;
      -o-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg); }
  nav a:nth-child(3) {
    top: 15px;
    left: 53%; }
    nav a:nth-child(3):hover {
      top: 0;
      padding: 25px 10px;
      writing-mode: tb-rl;
      -o-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg); }
  nav a:nth-child(4) {
    top: 15px;
    right: 15px; }
    nav a:nth-child(4):hover {
      top: 40px;
      right: -42px;
      padding: 10px 25px;
      -o-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg); }
  nav a:nth-child(5) {
    top: 45%;
    right: 15px;
    writing-mode: tb-rl;
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg); }
    nav a:nth-child(5):hover {
      right: 63px;
      padding: 15px 10px;
      -o-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      transform: rotate(270deg); }
  nav a:nth-child(6) {
    bottom: 15px;
    right: 15px;
    writing-mode: tb-rl;
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg); }
    nav a:nth-child(6):hover {
      bottom: -33px;
      right: 52px;
      padding: 25px 10px;
      -o-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      transform: rotate(270deg); }
  nav a:nth-child(7) {
    bottom: 15px;
    left: 45%; }
    nav a:nth-child(7):hover {
      bottom: 20px;
      padding: 15px 10px;
      -o-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg); }
  nav a:nth-child(8) {
    bottom: 15px;
    left: 15px; }
  nav a:nth-child(9) {
    top: 45%;
    left: 15px;
    writing-mode: tb-rl;
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); }
    nav a:nth-child(9):hover {
      left: 18px;
      padding: 25px 10px;
      -o-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      transform: rotate(270deg); }
  nav a:not(.nohover):hover {
    color: white;
    background: black;
    text-align: center; }

/*HOVER GALLERY*/
.container {
  position: relative;
  top: 15%;
  width: 80%;
  min-width: 300px;
  height: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; }

.container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.container .box {
  width: 33.33%;
  height: 50%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  background-size: cover; }

.container .box:nth-child(1) {
  background-image: url("img/1.jpg"); }
.container .box:nth-child(2) {
  background-image: url("img/2.jpg"); }
.container .box:nth-child(3) {
  background-image: url("img/3.jpg"); }
.container .box:nth-child(4) {
  background-image: url("img/4.jpg"); }
.container .box:nth-child(5) {
  background-image: url("img/5.jpg"); }
.container .box:nth-child(6) {
  background-image: url("img/6.jpg"); }

.divGalleryContent {
  position: relative;
  background: white;
  width: 100%;
  height: 60%;
  bottom: 75%;
  z-index: 9;
  font-family: Apercu-Light;
  cursor: pointer;
  display: none; }

.divGalleryContent p {
  position: relative;
  text-align: center;
  width: 60%; }

.close {
  position: absolute;
  top: 5px;
  right: 0;
  width: 55px;
  height: 55px;
  cursor: pointer; }
  .close:before, .close:after {
    content: "";
    position: absolute;
    top: 21px;
    left: 10px;
    width: 26px;
    height: 2px;
    background: black; }
  .close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/*MENU*/
.container .menuImg {
  width: 50%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  background-size: cover; }

.container .menuImg:nth-child(1) {
  background-image: url("img/EAT3.png"); }

.container .menuImg:nth-child(2) {
  background-image: url("img/DRINK1.png"); }

.container .menuImg h1 {
  font-family: ItalianPlateSpace_Bold;
  color: black; }

/*EAT MENU BACKGROUND*/
.container .eatMenuBG,
.container .drinkMenuBG {
  width: 100%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  background-size: cover; }

.container .eatMenuBG {
  background-image: url("img/EAT-LARGE2.png"); }

.colorMenuBG {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  font-family: Apercu-Light; }

.whiteBG,
.whiteBG a {
  background-color: white;
  color: black; }

.blackBG,
.blackBG a {
  background-color: black;
  color: white; }

.sideVerticalText {
  width: 10%;
  height: 100%;
  writing-mode: tb-rl;
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg); }

.mainMenuText {
  position: absolute;
  width: 80%;
  height: auto;
  top: 0;
  left: 15%; }

.mainMenuText h5 {
  margin: 30px 0 0;
  text-decoration: underline; }

table tr td {
  padding-bottom: 7px; }
  table tr td:first-child {
    width: 92%; }
  table tr td:last-child {
    width: 7%; }

/*EAT MENU BACKGROUND*/
.container .drinkMenuBG {
  background-image: url("img/DRINK-LARGE1.png"); }

.whiteCross:before, .whiteCross:after {
  background: white; }

/*WINECLUB*/
.boxWineStore {
  width: 50%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  background-size: cover; }

.container .boxWineStore:nth-child(1) {
  background-image: url("img/Wine1.png"); }
.container .boxWineStore:nth-child(2) {
  background-image: url("img/Wine2.png"); }

.boxWineContent {
  position: relative;
  width: 100%;
  height: 60%;
  bottom: 75%;
  z-index: 9;
  font-family: Apercu-Light;
  cursor: pointer;
  display: none; }

.boxWineContent p {
  position: relative;
  text-align: center;
  width: 60%; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
