html, body {
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}
.main-wrapper{
	width: 100%;
	height: 100%;
}
.container {
  width: 990px;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.bg {
  width: 100%;
  height: 100vh;
  padding: 16.29vh 0;
  box-sizing: border-box;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 300px; 
  
}

.store,
.menu,
.wine-club{
  flex-wrap: wrap;
  display: flex;
}
.store .box {
  width: 33.33%;
  height: 50%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}

.first-store-img {
   background-image: url("../img/1.jpg");
 }
 .second-store-img {
   background-image: url("../img/2.jpg");
 }
 .third-store-img {
   background-image: url("../img/3.jpg");
 }
 .fourth-store-img {
   background-image: url("../img/4.jpg");
 }
 .fifth-store-img {
   background-image: url("../img/5.jpg");
 }
 .sixth-store-img {
   background-image: url("../img/6.jpg");
 }
.div-gallery-content{
  background: white;
  width: 100%;
  height: 50%;
  z-index: 9;
  font-family: 'aperculight'; 
  display: none;
}
.center-position{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.center-position p{
  position: relative;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.main-menu-wrap ul li{
  position: fixed;
  color: black;
  z-index: 10;
  font-size: 18px;
  a{
    font-family: 'italian_plate_spacebold';
  }
}

.scene {
  // position: fixed;
  // top: 50px;
  // left: 20px;
  // width: 150px;
  // height: 70px; 
  perspective: 600px;
  // border: 1px solid black;
}

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  position: relative;
  &.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
    -o-transform: translateX(-100%) rotateY(-180deg);
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    -moz-transform: translateX(-100%) rotateY(-180deg);
  }
}


.card-face {
  // position: absolute;
  display: block;

  // line-height: 70px;
  text-align: center;
  font-size: 16px;
  // padding: 10px;
  font-family: 'italian_plate_spacebold';
  backface-visibility: hidden;
}

.card-face-front {
  color: black;
  transform: rotateX(0deg)
}

.card-face-back {
  color: white;
  background-color: black;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  right: 0; 
}



.first-menu-element{
  top: 15px;
  left: 15px;
  writing-mode: tb-rl;
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  span{
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    display: block;
  }
}
.second-menu-element{
  top: 15px;
  left: calc(50% - 55px);
  // left: 45%;
  // margin-left: -50px;
}
.third-menu-element{
  top: 15px;
  right: calc(50% - 80px);
}
.fourth-menu-element{
  top: 15px;
  right: 15px;
}
.fifth-menu-element{
  top: 40%;
  right: 15px;
  writing-mode: tb-rl;
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  span{
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    display: block;
  }
}
.sixth-menu-element{
  bottom: 15px;
  right: 15px;
  writing-mode: tb-rl;
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  span{
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    display: block;
  }
}
.seventh-menu-element{
  bottom: 15px;
  // left: calc(50% - 20px);
  left: calc(50% - 70px);
}
.eighth-menu-element{
  bottom: 15px;
  left: 15px;
}
.ninth-menu-element{
  top: 45%;
  left: 15px;
  writing-mode: tb-rl;
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  span{
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    display: block;
  }
}
.menu-flip{
  padding: 10px 40px;
  right: -65px;
  top: -5px;
}
.store-flip{
  padding: 19px 15px;
  right: 10px;
  top: -15px;
  writing-mode: tb-rl;
}
.wine-flip{
  padding: 19px 15px;
  right: 20px;
  top: -15px;
  writing-mode: tb-rl;
  white-space: nowrap;
}
.functions-flip{
  padding: 19px 30px 19px 15px;
  right: 31px;
  top: -15px;
  writing-mode: tb-rl;
}
.news-flip{
  padding: 0 40px;
  right: -65px;
  top: 15px;
  white-space: nowrap;
}
.contact-flip {
  padding: 0 40px;
  right: -65px;
  top: 15px;
}
.gift-flip{
  padding: 19px 15px;
  right: 15px;
  top: -70px;
  writing-mode: tb-rl;
  white-space: nowrap;
}
.bookings-flip{
  padding: 10px 40px;
  right: -65px;
  top: -5px;
}
/*MENU*/

.menu .menu-img {
  width: 50%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;  
  justify-content: center;
}
.menu .menu-img:nth-child(1) {
  background-image: url("../img/EAT3.png");
}
.menu .menu-img:nth-child(2) {
  background-image: url("../img/DRINK1.png");
}
.menu .menu-img h1{
  font-family: 'italian_plate_spacebold';
  color: black;
  font-size: 32px;
}
.close{
  position: absolute;
  top: 5px;
  right: 0;
  width: 55px;
  height: 55px;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 21px;
    left: 10px;
    width: 26px;
    height: 2px;
    background: black;
  }
  &:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after{
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.color-menu-BG .close{
  top: 15%;
  left: 87%;
  position: sticky;
}

.white-cross{
  &:before,
  &:after {
    background: white;
  }
}
/*MENU-EAT AND DRINK*/
.menu-eat,
.menu-drink {
  width: 100%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  font-family: 'aperculight'; 
  background-size: cover !important;
  overflow: hidden;
}
.menu-eat{
  background-image: url("../img/EAT-LARGE2.png");
  color: black;
}
.menu-drink{
  background-image: url("../img/DRINK-LARGE1.png");
  color: white;
}
.menu-eat::before {
  content: '';
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 70%;
  width: 80%;
  position: absolute;
}
.menu-drink::before {
  content: '';
  background: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 70%;
  width: 80%;
  position: absolute;
}
.color-menu-BG{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: transparent;
  margin: 0 auto;
  overflow-y: scroll;
  padding-right: 17px;
}
// .color-menu-BG::-webkit-scrollbar { width: 0; }
// .color-menu-BG { -ms-overflow-style: none; }

.side-vertical-text{
  width: 10%;
  height: 100%;
  writing-mode: tb-rl;
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  display: flex;
  align-items: center;  
  justify-content: center;
  color: white;
  position: sticky;
  top: 0;
  left: 10%;
}
.menu-drink .side-vertical-text a{
  color: white;
}
.main-menu-text{
  position: absolute;
  width: 60%;
  height: auto;
  top: 0;
  left: 20%;
  margin-top: 10%;
  padding-bottom: 15%;
}
.main-menu-text h5{
  margin: 30px 0 0;
  text-decoration: underline;
}
table{
  width: 100%;
}
table tr td{
  padding-bottom: 7px;
  &:first-child{
    width: 92%;
  }
  &:last-child{
    width: 10%;
  }
}

/*WINE-CLUB*/
.box-wine-store{
  width: 50%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  background-size: cover !important;
}
.wine-club .box-wine-store{
  &:nth-child(1) {
    background-image: url("../img/Wine1.png");
  }
  &:nth-child(2) {
   background-image: url("../img/Wine2.png");
 }
}
.box-wine-content{
  width: 100%;
  height: 50%;
  background-color: black;
  z-index: 9;
  font-family: 'aperculight'; 
  color: white;
  display: none;
}
.flex-center{
  display: flex;
  align-items: center;  
  justify-content: center;
}
.box-wine-content p{
  // position: relative;
  text-align: center;
  width: 60%;
  // top: 35%;
  // margin: 0 auto;
  
}

/*NEWS AND BOOKINGS*/
.news,
.bookings,
.contact{
  text-align: center;
  display: flex;
  align-items: center;  
  justify-content: center;
}
.news-wrap{
  width: 50%;
}
.block-of-text h2{
  font-family: 'italian_plate_spacebold'; 
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 5% 0 0 0;
}
.block-of-text p{
  font-family: 'aperculight'; 
  margin-top: 0;
}
.news img{
  margin-top: 10%;
  width: 6%;
}