html, body {
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}
.main-wrapper{
	width: 100%;
	height: 100%;
}
.container {
  // width: 990px;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}
.desktop-only{
  display: none;
}

.bg {
  width: 100%;
  height: 100vh;
  padding: 16.29vh 0;
  box-sizing: border-box;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 300px;  
}
.store,
.menu,
.wine-club{
  flex-wrap: wrap;
  display: flex;
}
.store .box {
  width: 33.33%;
  height: 50%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}
.first-store-img {
   background-image: url("img/1.jpg");
 }
 .second-store-img {
   background-image: url("img/2.jpg");
 }
 .third-store-img {
   background-image: url("img/3.jpg");
 }
 .fourth-store-img {
   background-image: url("img/4.jpg");
 }
 .fifth-store-img {
   background-image: url("img/5.jpg");
 }
 .sixth-store-img {
   background-image: url("img/6.jpg");
 }
.div-gallery-content{
  background: white;
  width: 100%;
  height: 50%;
  z-index: 9;
  font-family: 'aperculight'; 
  display: none;
}
.modal-content{
  overflow-y: auto;
}
.center-position{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.center-position p{
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.main-menu-wrap ul li{
  position: fixed;
  color: black;
  z-index: 10;
  font-size: 18px;
  a{
    font-family: 'italian_plate_spacebold';
  }
}
.scene {
  perspective: 600px;
}
.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  position: relative;
  &.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
    -o-transform: translateX(-100%) rotateY(-180deg);
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    -moz-transform: translateX(-100%) rotateY(-180deg);
  }
}

.is-flipped{
  .card{
        transform: translateX(-100%) rotateY(-180deg);
    -o-transform: translateX(-100%) rotateY(-180deg);
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    -moz-transform: translateX(-100%) rotateY(-180deg);
  }
}
.card-face {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: 'italian_plate_spacebold';
  backface-visibility: hidden;
}
.card-face-front {
  color: black;
  transform: rotateX(0deg)
}
.card-face-back {
  color: white;
  background-color: black;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  right: 0; 
}
.first-menu-element{
  writing-mode: tb-rl;
  top: 15px;
  left: 15px;
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  span{
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    display: block;
  }
}
.second-menu-element{
  top: 15px;
  left: calc(50% - 55px);
}
.third-menu-element{
  top: 15px;
  right: calc(50% - 80px);
}
.fourth-menu-element{
  top: 15px;
  right: 15px;
}
.fifth-menu-element{
  .card-face{
    writing-mode: tb-rl;
  }
  top: 40%;
  right: 15px; 
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  span{
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    display: block;
  }
}
.sixth-menu-element{
  .card-face{
    writing-mode: tb-rl;
  }
  bottom: 15px;
  right: 15px;
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  span{
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    display: block;
  }
}
.seventh-menu-element{
  bottom: 15px;
  left: calc(50% - 70px);
}
.eighth-menu-element{
  bottom: 15px;
  left: 15px;
}
.ninth-menu-element{ 
  top: 45%;
  left: 15px;
  span{
    display: block;
  }
}
.ninth-menu-element a.card-face.card-face-front{
  writing-mode: tb-rl;
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.menu-flip{
  padding: 10px 40px;
  right: -65px;
  top: -5px;
}
.store-flip{
  padding: 19px 15px;
  right: 10px;
  top: -15px;
  writing-mode: tb-rl;
}
.wine-flip{
  padding: 19px 15px;
  right: 21px;
  top: -15px;
  writing-mode: tb-rl;
  white-space: nowrap;
}
.functions-flip{
  padding: 19px 20px 19px 15px;
  right: 60px;
  top: -15px;
  writing-mode: tb-rl;
}

.news-flip{
  padding: 0 40px;
  right: 15px;
  top: 15px;
  white-space: nowrap;
}
.contact-flip {
  padding: 0 40px;
  right: 15px;
  top: 15px;
}
.gift-flip{
  padding: 19px 15px;
  right: 15px;
  top: -70px;
  writing-mode: tb-rl;
  white-space: nowrap;
}
.bookings-flip{
  padding: 15px 31px;
  right: -15px;

}
.menu-content-wrapper {
  position: absolute; 
  width: 200px;
  p {
    width: 80%;
    font-size: 14px;
    font-family: 'aperculight'; 
    padding: 0;
    margin: 15px 0 0 0;
  }
.menu-content-footer{
  p{
    font-family: 'italian_plate_spacebold';
    text-transform: uppercase;
  }
}
}

.scene.is-flipped{
  &:hover {
    .menu-content-wrapper{
      top: -15px;
      transition: top 0.5s ease-in-out ;
    }
    .news-menu-wrapper{
      right: 25px;
      top: 100px;
      transition: right 0.5s ease-in-out ;
    }
    .bookings-menu-wrapper{
      left: 25px;
      top: 50px;
      transition: left 0.5s ease-in-out ;
    }
  }
}  
.store-menu-wrapper{
  top: -200px;
  left: -170px;
 transition: top 0.5s ease-in-out 0.5s;
}
.wine-menu-wrapper {
 top: -200px;
 left: 60px;
transition: top 0.5s ease-in-out 0.5s;
}
.functions-menu-wrapper{
  top: -200px;
  right: -10px;
  transition: top 0.5s ease-in-out 0.5s;
}
.news-menu-wrapper {
  top: 100px;
  right: -250px;
  transition: right 0.5s ease-in-out 0.5s;
  .header-of-story{
    font-family: 'italian_plate_spacebold';
    margin-bottom: -15px;
  }
}
.bookings-menu-wrapper {
  top: 50px;
  left: -250px;
  transition: left 0.5s ease-in-out 0.5s;
}
/*MENU*/
.menu .menu-img {
  width: 50%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;  
  justify-content: center;
}
.menu .menu-img-eat {
  background-image: url("img/EAT3.png");
}
.menu .menu-img-drink {
  background-image: url("img/DRINK1.png");
}
.menu .menu-img h1{
  font-family: 'italian_plate_spacebold';
  color: black;
  font-size: 32px;
}
.close{
  position: absolute;
  top: 5px;
  right: 0;
  width: 55px;
  height: 55px;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 21px;
    left: 10px;
    width: 26px;
    height: 2px;
    background: black;
  }
  &:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after{
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.menu-eat .close,
.menu-drink .close{
  top: 15%;
  right: 10%;
}
.white-cross{
  &:before,
  &:after {
    background: white;
  }
}
/*MENU-EAT AND DRINK*/
.menu-eat,
.menu-drink {
  width: 100%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  font-family: 'aperculight'; 
  background-size: cover !important;
  overflow: hidden;
}
.menu-eat{
  background-image: url("img/EAT-LARGE2.png");
  color: black;
}
.menu-drink{
  background-image: url("img/DRINK-LARGE1.png");
  color: white;
}
.menu-eat::before {
  content: '';
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 70%;
  width: 80%;
  position: absolute;
}
.menu-drink::before {
  content: '';
  background: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 70%;
  width: 80%;
  position: absolute;
}
.color-menu-BG{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: transparent;
  margin: 0 auto;
  overflow-y: scroll;
  padding-right: 17px;
  display: none;
}
.side-vertical-text{
  height: 100%;
  position: absolute;
  writing-mode: tb-rl;
  -o-transform: translate(-50%, 0%) rotate(180deg);
  -webkit-transform: translate(-50%, 0%) rotate(180deg);
  -moz-transform: translate(-50%, 0%) rotate(180deg);
  left: 15%;
  top: 0;
  text-align: center;
}
.menu-drink .side-vertical-text a{
  color: white;
}
.main-menu-text{
  position: absolute;
  width: 60%;
  height: auto;
  top: 0;
  left: 20%;
  margin-top: 10%;
  padding-bottom: 15%;
}
.main-menu-text h5{
  margin: 30px 0 0;
  text-decoration: underline;
}
table{
  width: 100%;
}
table tr td{
  padding-bottom: 7px;
  &:first-child{
    width: 92%;
  }
  &:last-child{
    width: 10%;
  }
}
/*WINE-CLUB*/
.box-wine-store{
  width: 50%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  background-size: cover !important;
}
.wine-club .box-wine-store{
  &:nth-child(1) {
    background-image: url("img/Wine1.png");
  }
  &:nth-child(2) {
   background-image: url("img/Wine2.png");
 }
}
.box-wine-content{
  width: 100%;
  height: 50%;
  background-color: black;
  z-index: 9;
  font-family: 'aperculight'; 
  color: white;
  display: none;
}
.box-wine-content p{
  text-align: center;
  width: 60%;  
}
/*NEWS AND BOOKINGS*/
.news,
.bookings,
.contact{
  text-align: center;
  display: flex;
  align-items: center;  
  justify-content: center;
}
.news-wrap{
  width: 50%;
  img{
  margin-top: 10%;
  width: 40px;
}
}
.block-of-text{
  margin-top: 5%;
}
.block-of-text h2{
  font-family: 'italian_plate_spacebold'; 
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0;

}
.block-of-text p{
  font-family: 'aperculight'; 
  margin-top: 0;
}


.mobile-menu{
  &.mobile-menu-show{
    display: block;
    position: fixed;
    z-index: 9999;
    background: #fff;
    width: 100%;
    height: 100%
  }
  display: none;
}

.mobile-menu .close{
  top: 10px;
  right: 15px;
  &:before,
  &:after {
    width: 45px;
  }
}
.burger-button{
  position: absolute;
  top: 8.12vh;
  transform: translate(0,-50%);
  right: 25px;
  cursor: pointer;
  span{
  height: 2px;
  width: 35px;
  background: #333333;
  display: block;
  margin-bottom: 11px;
  }
}
.main-mobile-menu{
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  li{
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px;
    a{
      text-transform: uppercase;
      font-size: 28px;
      color: black;
      text-align: center;
      display: block;
      font-family: 'italian_plate_spacebold'; 
    }
  }
}
.mobile-menu .main-menu-text {
    width: 55%;
}
@-moz-document url-prefix() {
  .functions-flip{
  right: 26px;
}
.wine-menu-wrapper {
 left: 85px;
}
.store-menu-wrapper {
  left: -135px;
}
.functions-menu-wrapper {
  right: -10px;
}
.fifth-menu-element,
.sixth-menu-element{
  right: 45px;
}
.news-flip,
.contact-flip{
  right: -56px;
}
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .mobile-only{
    display: none;
  }
  .desktop-only{
  display: block;
}
  .main-menu-text {
    width: 55%;
}
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}